<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>wssh</title>
        <link href="{{url_for('static', filename='favicon.ico')}}" rel="icon">

        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='xterm.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" />
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">wssh</a>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Connection form -->

            <form id="connect" class="form-horizontal">
                <fieldset>
                    <legend>Connect to a remote SSH server</legend>

                    <div class="control-group">
                        <label class="control-label">
                            Destination
                        </label>
                        <div class="controls">
                            <input type="text" id="username"
                                class="input-small"
                                placeholder="root" />
                            <div class="input-prepend">
                                <span class="add-on">@</span><input
                                    type="text"
                                    id="hostname"
                                    class="input-large"
                                    placeholder="localhost" />
                                <span class="add-on">port</span><input
                                    type="text"
                                    id="portnumber"
                                    class="input-small"
                                    value=22 />
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">
                            Authentication method
                        </label>

                        <div class="controls">
                            <label class="radio">
                                <input type="radio" name="authentication_method"
                                    value="password" checked />
                                    Password
                            </label>

                            <label class="radio">
                                <input type="radio" name="authentication_method"
                                    value="private_key" />
                                    Private Key
                            </label>
                        </div>
                    </div>

                    <div class="control-group" id="password_authentication">
                        <label class="control-label">
                            Password
                        </label>
                        <div class="controls">
                            <input type="password" id="password"
                                class="input-large" />
                        </div>
                    </div>

                    <div id="private_key_authentication">
                        <div class="control-group">
                            <label class="control-label">
                                Private Key
                            </label>
                            <div class="controls">
                                <textarea id="private_key" rows="6"
                                    class="input-xxlarge"></textarea>
                                <p class="help-block">
                                    Copy &amp; Paste your SSH private from
                                    <code>~/.ssh/id_rsa</code> or
                                    <code>~/.ssh/id_dsa</code>
                                </p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">
                                Key Passphrase
                            </label>
                            <div class="controls">
                                <input type="password" id="key_passphrase"
                                    class="input-large" />
                                <p class="help-block">
                                    Enter your private key passphrase if it
                                    is encrypted. Leave empty otherwise.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">
                            Command
                        </label>
                        <div class="controls">
                            <input type="text" id="command" class="input-large" />
                            <p class="help-block">
                                Enter command to be executed or
                                empty for interactive.
                            </p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">
                            Terminal size
                        </label>
                        <div class="controls">
                            <input type="text" id="terminal_cols"
                                class="input-small"
                                placeholder="cols"
                                value=80 /> x 
                            <input type="text" id="terminal_rows"
                                class="input-small"
                                placeholder="rows"
                                value=24 />
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">
                            Connect
                        </button>
                    </div>

                </fieldset>
            </form>

            <div id="term">
            </div>

        </div>

        <script type="application/javascript" src="{{url_for('static', filename='jquery.min.js')}}">
        </script>
        <script type="application/javascript" src="{{url_for('static', filename='xterm.js')}}">
        </script>
        <script type="application/javascript" src="{{url_for('static', filename='wssh.js')}}">
        </script>
        <script type="application/javascript" src="{{url_for('static', filename='main.js')}}">
        </script>
    </body>
</html>
